{% extends 'base_dashboard.html' %}
{% block title %}Kategoriya ro'yxati{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Kategoriyalar</h4>
        <a href="{% url 'dashboard:category_create' %}" class="btn btn-success">+ Yangi kategoriya</a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            {% if categories %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center" style="width: 50px;">#</th>
                                <th>Nomi</th>
                                <th style="min-width: 120px;">Amallar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ category.name|truncatechars:20 }}</td>
                                <td>
                                    <a href="{% url 'dashboard:category_edit' category.pk %}" class="btn btn-sm btn-primary">Tahrirlash</a>
                                    <a href="{% url 'dashboard:category_delete' category.pk %}" class="btn btn-sm btn-danger">O‘chirish</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Hozircha hech qanday kategoriya mavjud emas.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}