{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Profilni yangilash" %}{% endblock %}

{% block content %}
<style>
    .update-wrapper {
        max-width: 600px;
        margin: 60px auto;
    }

    .update-title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 40px;
        color: #444;
    }

    .update-card {
        background: linear-gradient(to right, #faf8af, #ffa6fa);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .update-card label {
        font-size: 15px;
        color: #555;
        margin-bottom: 3px;
        display: block;
    }

    .update-card input {
        width: 100%;
        padding: 10px 8px;
        border: none;
        border-bottom: 2px solid #ccc;
        background: transparent;
        font-size: 15px;
        margin-bottom: 25px;
    }

    .update-card input:focus {
        outline: none;
        border-bottom-color: #ff86d6;
    }

    .btn-save {
        background: linear-gradient(to right, #faf8af, #ffa6fa);
        border: none;
        border-radius: 30px;
        padding: 10px;
        font-weight: bold;
        color: #000;
        width: 100%;
        transition: 0.3s ease;
        cursor: pointer;
    }

    .btn-save:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .btn-back {
        width: 100%;
        margin-top: 15px;
        background: #eee;
        color: #333;
        border: none;
        border-radius: 30px;
        padding: 10px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .btn-back:hover {
        background: #e0e0e0;
    }
</style>


<div class="update-wrapper">
    <h2 class="update-title">{% trans "Profilni yangilash" %}</h2>

    <div class="update-card">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label for="id_full_name">{% trans "To‘liq ism" %}</label>
            {{ form.full_name }}
            {{ form.full_name.errors }}

            <label for="id_phone">{% trans "Telefon raqam" %}</label>
            {{ form.phone }}
            {{ form.phone.errors }}

            <label for="id_email">{% trans "Email manzil" %}</label>
            {{ form.email }}
            {{ form.email.errors }}

            <label for="id_password">{% trans "Yangi parol (ixtiyoriy)" %}</label>
            {{ form.password }}
            {{ form.password.errors }}

            <button type="submit" class="btn-save">{% trans "Saqlash" %}</button>
        </form>

        <a href="{% url 'profile' %}" class="btn-back">{% trans "Ortga" %}</a>
    </div>
</div>
{% endblock %}
