{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">👤 Profil</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <p><strong>To‘liq ism:</strong> {{ request.user.full_name }}</p>
            {% if request.user.phone %}
                <p><strong>Telefon raqam:</strong> {{ request.user.phone }}</p>
            {% else %}
                <p><strong>Telefon raqam:</strong> <span class="text-danger">Kiritilmagan</span></p>
            {% endif %}

            {% if request.user.email %}
                <p><strong>Email:</strong> {{ request.user.email }}</p>
            {% else %}
                <p><strong>Email:</strong> <span class="text-danger">Kiritilmagan</span></p>
            {% endif %}

            <a href="{% url 'profile_update' %}" class="btn btn-outline-primary mt-3">✏️ Ma'lumotlarni yangilash</a>
        </div>
    </div>
</div>
{% endblock %}
